/* css for main */
main{
    /* height: 85vh; */
    height: auto;
    width: 100%;
    background-color:rgb(238, 246, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-image: url('/image/bg1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
      
}
.head{
    height: 30%;
      width: 50%;
      text-align: center;
  }
.head h2{
    font-family:Arial, Helvetica, sans-serif;
    color: #000000;
    /* font-size: 26px; */
    text-decoration: underline;
    text-align: center;
}
.head p{
    font-style: normal;
    font-size: 1.2rem;
    line-height: 1.5rem;
}
.middle{
    height: auto;
    padding: 20px;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: large;
}
.middle a{
    color: rgb(9, 16, 78);
    text-decoration: none;
    font-weight: bold;
}
.middle a:hover{
color: #000000;
}

#all{
    color: rgba(90, 11, 11, 0.897);
}
.end{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box{
    height: 100%;
    width: 50%;
    background-color: #fff;
    box-shadow: 2px 2px 2px black;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
}
.box_btn{
    height: 40px;
    width: 100px;
}
.box_btn button{
    height: 40px;
    width: 100px;
    background-color: #000000;
    color: #ffffff;
    border-radius: 30px;
}
.box_btn button:hover{
    background-color: #008080;
    color: #fff;
}
.box1 {
    flex-basis: 30%;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}
.box1 img {
    width: 100%;
    height:100%;
    display: block;
}
.layer {
    background: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
    box-sizing: border-box;
    opacity: 0;
}
.layer h3 {
    width: 100%;
    color: aliceblue;
    font-size: 25px;
    position: absolute;
    text-align: center;
    bottom: -50px; 
    left: 0;
    margin: 0;
    opacity: 0;
    transition: 0.5s;
}
.box1:hover .layer {
    opacity: 1;
}
.layer:hover h3 {
    opacity: 1;
    bottom: 50%;
    transform: translateY(-30%); 
}
.additional-info {
    margin: 10px;
    width:50%;
}
.additional-info p{
    top: 20px;
    font-style: normal;
    text-align: center;
    background-color: #fff;
    box-shadow: 2px 2px 2px black;
    line-height: 1.5rem;
}
.additional-info img{
    width: 100%;
    height: 50%;
    font-style: normal;
    text-align: center;
    background-color: #fff;
}
.additional-info h2{
    text-align: center;
    color: brown;
}
/* mobile view ==============================================================================================================================================================================*/
@media only screen and (min-width: 200px)and (max-width: 450px) {
    .head{
          width: 90%;
      }
    .head p{
        font-style: italic;
        font-size: medium; 
    }
    .middle{
        height: auto;
        padding: 10px;
        width: 100%;
        font-size:small;
    }
    .middle a{
        padding: 5px;
    }
    .box {
        height: auto;
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }  
 
    .additional-info {
        margin: 10px;
        width:90%;
    }
    .additional-info p{
        font-style: italic;
    }
}
/* mobile view ==============================================================================================================================================================================*/
@media only screen and (min-width: 400px)and (max-width: 600px) {
 
    .head {
        height: 30%;
        width: 95%;
        text-align: center;
    }
  .head p{
      font-style: italic;
      font-size: medium; 
  }
  .middle{
      height: auto;
      padding: 20px;
      width: 100%;
      font-size:medium;
  }
.box {
    height: auto;
    width: 90%;
}
  .additional-info {
      margin: 10px;
      width:90%;
  }
}
/* Tablet view  ========================================================================================================================================================================== */
@media only screen and (min-width: 600px) and (max-width: 850px) {

    .head {
        height: 30%;
        width: 90%;
        text-align: center;
    }
  .head p{
      font-style: italic;
  }
  .middle{
      height: auto;
      padding: 20px;
      width: 100%;
      font-size:medium;
  }

.box {
    height: auto;
    width: 90%;
}
  .additional-info {
      margin: 10px;
      width:90%;
  }
}
/* Laptop view  ========================================================================================================================================================================== */
@media only screen and (min-width: 850px) and (max-width: 1350px) {
    .head {
        height: 30%;
        width: 70%;
        text-align: center;
    }
  .head p{
      font-style: normal;
  }
  .middle{
      height: auto;
      padding: 20px;
      width: 100%;
      font-size:medium;
  }

.box {
    height: auto;
    width: 90%;
}
  .additional-info {
      margin: 10px;
      width:70%;
  }
    
}