* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: aliceblue;
}

/* live date update  */

#liveDate {
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #333;
}

/* zoom in zoom out font size */
body {
  font-size: 16px;
  transition: font-size 0.3s ease;
}
#zoomButtons {
  display: flex;
  justify-content: space-between;
  top: 0px;
  right: 10px;
  z-index: 9999;
  background-color: #d4f4fc;
}
.zoom-normal {
  font-size: 16px;
}

#zoomButtons button {
  cursor: pointer;
  margin: 7px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #000;
  background-color: #fff;
}

 #google_translate_element {
  margin-right: 20px;
}
#goog-gt-votingHiddenPane,
#goog-gt-votingForm,
#votingFrame,
#goog-gt-votingInputSrcLang,
#goog-gt-votingInputTrgLang,
#goog-gt-votingInputSrcText,
#goog-gt-votingInputTrgText,
#goog-gt-votingInputVote {
    display: none !important;
    visibility: hidden !important;
    width: 0 !important;
    height: 0 !important;
    position: absolute !important;
    overflow: hidden !important;
}
header {
  background-color: #ffffff;
  color: #fdfdfd;
  text-align: center;
  padding: 1em;

}

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 12%;
}
#header{
  display: flex;
 
}
#govImg{
  width:80%;
  height: 80%;
  margin-left: -10%;
}
.header img {
  width:8%;
  height: 8%;
  
}
.header h1 {
  /* font-size:xx-large; */
  font-size: 3rem;
  color: #07110b;
}
/* //////////////////////////////////login button///////////////////////////////////////////////// */

.button-container {
  text-align: center;
  display: flex;
  /* margin-left: 40%;  */
  gap: 20px; 

  cursor: pointer;
}


button {
  padding: 10px 24px;
  font-size: 14px;
  margin-left: -10%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.login-button {
  background-color: #0f0c31;
  color: white;
  height: 40px;
  text-align: center;
  width: 90px;
  border-radius: 15px;
}

.signup-button {
  text-align: center;
  background-color: #1a1547;
  color: white;
  display: flex;
  height: 40px;
  border-radius: 15px;
  width: 95px;
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

button:active {
  transform: scale(1);
}

/* /////////////////////////////////////////////login button end///////////////////////////////////////////////////// */
.gov-img {
  display: flex;
  gap: 10px; 
  flex-wrap: wrap; 
  justify-content: right; 
  align-items: center; 
  margin: 10px 0;
}


.goverment-logo {
  display:flex;
}

.goverment-logo  img {
  width: 20%;
  height: 35%;
  gap: 1px;
  margin-left: 40px; 
  display:flex;
  flex-wrap: wrap;
  align-items:end;
  justify-content:right;
}


/* ////////////////////////////////////////////////////////////////// */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown .dropbtn {
  color: white;
  padding: 1em;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown:hover .dropbtn {
  background-color: rgb(2, 2, 82); 
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  /* font-size: 14px; */
  min-width: 130px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 10px 12px;
  font-size: 12px;
  align-items: center;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

/* Styling for active link in dropdown */
.dropdown-content a.active {
  background-color: #ff0;
  color: black;
}


/* //////////////////////////////////////////////////////////////////////////////////// */
nav {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(20, 124, 165);
  padding: 1em;
}

nav a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

nav a.active {
  text-decoration: overline;
  font-weight: bold;
}

nav a:hover {
  color: #f0f0f0;
  text-decoration: overline;
}

section {
  padding: 1em;
}

#nav1 {
  display: flex;
  width: 50%;
  margin-left: 25%;
  justify-content: space-evenly;
  /* background-color: #444; */
  background-color: rgb(2, 2, 82);
  padding: 1em;
}

#nav1 a {
  /* color: #fff; */
  color: #ffffff;
  text-decoration: none;
}

#nav1 a.active {
  color: white;
  /* text-decoration: overline; */
  font-weight: bold;
}

#nav1 a:hover {
  color: #800000;
  text-decoration: overline;
}

/* footer */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Basic styling for the footer */
footer {
  /* background-color: #333; */
  background-color: #00294e;
  color: #fff;
  padding: 20px 10px;
  width: 100%;
  
}

.f-container {
  margin-top: 5%;
  margin-left: 30%;
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  /* Align items at the start of the cross axis */
}

.f-container a {
  color: white;
  font-size: 0.8em;
  text-align: center;
}

.footer-container {
  /* max-width: 1200px; */

  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  
}

/* Styling for the service section */
.service1,
.features,
.policies,
.contact-details,
.planning {
  flex: 1;
  margin-right: 20px;
  padding: 2%;
}

.service1 h3,
.features h3,
.contact-details h3,
.planning h3,
.policies h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
  padding: 2%;
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
  color: #fff;
}

.contact-details a {
  color: #fff;
  padding: 2%;
}

.service1 ul,
.features ul,
.planning ul,
.policies ul {
  padding: 0;
}

.service1 li,
.features li,
.planning li,
.policies li {
  margin-bottom: 5px;
  padding: 2%;
}

.contact-details p {
  padding: 2%;
}

.service1 a,
.features a,
.planning a,
.policies a {
  color: #fff;
  text-decoration: none;

}

/* Styling for the contact details section */
.contact-details p {
  margin-bottom: 8px;
  color: #fff;
}

/* footer images */
.footer_img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 68%;
}

.footer_img img {
  width: 110px;
  /* Adjust width as needed */
  height: 80px;
  /* Maintain aspect ratio */
  margin-left: 10px;
}

/* Copyright notice styling */
.copyright {
  margin-top: 20px;
  font-size: 0.8em;
  text-align: center;
 
}

.w3 img {
  /* align-items: center; */
  margin: 0px;
  display: inline;
  margin-top: 20px;
  margin-right: 30px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
  }

  .service,
  .features,
  .contact-details,
  .planning {
    margin-right: 0;
    margin-bottom: 20px;
  }
}


nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(20, 124, 165);
    padding: 10px 20px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}

nav a:hover {
    background-color: #091549;
    color: #ebe5e5;
}

.dropdown-content{
  color: #000;
}


/* Mobile Responsiveness */
@media only screen and (max-width: 768px) {
  /* Header */
  .header {
      flex-direction: column;
      align-items: flex-start;
  }

  #coastal-logo {
      width: 50px;
      margin-top: 10px;
  }

  #govImg {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
  }

  .login-button, .signup-button {
      width: 100%;
      margin-top: 10px;
      text-align: center;
      justify-content: center;
      
  }

  /* Navbar */
  nav {
      flex-direction: column; /* Stack navbar links vertically */
      text-align:left;/* Center navbar content vertically */
      text-align:left; /* Center navbar items horizontally */
      width: 100%; /* Ensures the navbar takes up the full width */
  }

  nav a {
      width: 50%; /* Makes the nav links full-width */
      padding: 12px;
      font-family: Arial, Helvetica, sans-serif;
      text-align:left; /* Centers text on mobile */
      box-sizing: border-box; /* Ensures padding doesn't affect width */
  }

  /* Dropdown */
  .dropdown-content {
      position: static; /* Makes the dropdown open inline */
      width: 50%;
      font-family: Arial, Helvetica, sans-serif;
      margin-top: 0;
  }

  .dropdown-content a {
      padding: 12px;
      text-align:left; /* Centers dropdown items */
      /* width: 50%; */
  }

  .dropdown:hover .dropdown-content {
      display: block;
      color: #000000;
  }
}


/* //////////////////////////////////////////////////// */


/* mobile view ==============================================================================================================================================================================*/
@media only screen and (min-width: 200px)and (max-width: 430px) {
  marquee {
    padding: 10px;
    
  }

  header {
    color: #fdfdfd;
    text-align: center;
    padding: 0.8em;
  }
  #zoomButtons{
    display: block;
    align-items: center;
  }
  #zoomButtons button {
    font-size: 10px;
  }
  #zoomButtons .content {
    display: flex;
    align-items: center;
  }

  .header {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-items: center;
    margin-left: 0%;
    /* font-size: small; */
  }

  nav a {
    color: #fff;
    font-weight: bold;
    /* color: #333; */
    font-size: smaller;
    text-decoration: none;
  }
  #header{
    display: block;
    
  }
  button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 40%;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .login-button ,.signup-button {
    height: 10%;
    width: 20%;
    font-size: 8px;
    text-align: center;
  }
  #govImg{
    width:100%;
    height: 70%;
    /* margin-left: -10%; */
  }
 

  .header img {
    width: 15%;
  }

  .header h1 {
    font-size: 1.3rem;
    color: #07110b;
  }

  #liveDate {
    font-size: 12px;
  }

  /* footer mrquee img */

  .footer_img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 0%;
  }

  .footer_img img {
    width: 80px;
    height: 50px;
    margin-left: 10px;
  }
}


/* 400 to 500================================================================================================================================================================================= */
@media only screen and (min-width: 400px) and (max-width: 600px) {
  marquee {
    padding: 10px;
    /* background-color: aliceblue; */
  }

  header {
    /* background-color: #f8eeee; */
    color: #fdfdfd;
    text-align: center;
    padding: 0.8em;
  }

  #liveDate {
    font-size: 14px;
  }
  #zoomButtons .content {
 
    display: flex;
    align-items: center;
 
  }
  
  .header {
    height: auto;
    width: 100%;
    display: flex;
    /* background-color: antiquewhite; */
    justify-content: flex-start;
    align-items: center;
    /* margin-left: 20%; */
  }
  #govImg{
    width:70%;
    height: 70%;
    margin-left: -10%;
  }
  /* .header img {
    
  } */
  button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 40%;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .login-button ,.signup-button {
    height: 10%;
    width: 20%;
    font-size: 10px;
  }
  
  .header h1 {
    color: #07110b;
  }
  .header h1 {
    /* font-size:xx-large; */
    font-size: 1.2rem;
    color: #07110b;
  }
  button {
    display: block;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 0%;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .login-button ,.signup-button {
    height: 8%;
    width: 15%;
    font-size: 8px;
  }

  /* footer marquee */

  .footer_img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 0%;
  }

  .footer_img img {
    width: 80px;
    height: 60px;
    margin-left: 10px;

  }
}

/* Tablet View ==============================================================================================================================================================================*/
@media only screen and (min-width: 600px) and (max-width: 950px) {
  .header {
    height: auto;
    width: 80%;
    display: flex;
    align-items: center;
  }
  #zoomButtons {
    display: flex;
  }
  #zoomButtons .content {
    display: flex;
    align-items: center;
  }

  #govImg{
    width:100%;
    height: 100%;
    /* margin-left: -10%; */
  }
  
  .header h1 {
    /* font-size:xx-large; */
    font-size: 1.2rem;
    color: #333;
  }

  button {
    display: block;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    /* margin: 10px; */
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .login-button ,.signup-button {
    height: 8%;
    width: 15%;
    font-size: 8px;
  
  }
  .footer_img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 30%;
  }
  .footer_img img {
    width: 80px;
    height: 60px;
    margin-left: 10px;
  }

}
.marquee-container {
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  background-color: #033d74;
  padding: 15px;
  color: rgb(255, 254, 254);
}

.marquee {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 50s linear infinite;
}

.marquee img {
  display: inline-block;
  margin-right: 10px;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}

.marquee-1 {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 10s linear infinite;
}

.marquee-1 img {
  display: inline-block;
  margin-right: 10px;
}

@keyframes marquee-1 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}